.attribution {
  margin: 3rem 0;
  font-size: 11px;
  text-align: center;
  color: var(--color-text-secondary);
}
.attribution a {
  color: var(--color-text-secondary);
}
.attribution a:hover {
  color: var(--color-text-primary);
}
