.Card {
  cursor: pointer;

  background-color: var(--color-card-bg);
  transition: all 0.3s;
  display: grid;

  border-radius: 0.5rem;

  padding: 3rem;

  &:hover {
    background-color: var(--color-card-bg--hover);
  }
}
